.Rproj.user
.Rhistory
.RData
.Ruserdata
deploying_app.R
credentials.rds
credentials.R

# 'data' folder #
data/
admin/
Data-Explorer/data/
Data-Explorer/admin/
Data-Explorer/rsconnect/

# renv library folder #
renv/library/

# Common text files that may contain data #
*.[cC][sS][vV]
*.[tT][xX][tT]

# Excel files #
*.[xX][lL][sS][xXmMtT]?

# SPSS formats #
*.[sS][aA][vV]
*.[zZ][sS][aA][vV]

# R data files #
*.[rR][dD][aA][tT][aA]
*.[rR][dD][aA]
*.[rR][dD][sS]
*.[fF][sS][tT]